# Entorno virtual y dependencias
.venv/
venv/
env/
venv_backup.zip

# Caché de Python y herramientas
__pycache__/
*.py[cod]
.pytest_cache/

# Datos del proyecto (Carpetas de entrada y salida)
# Ignoramos estas carpetas para no subir facturas o resultados a GitHub
proyecto_cfdi/input_cfdi/
proyecto_cfdi/output_excel/

# Archivos del sistema
.DS_Store
Thumbs.db